* {
    background:     #111318;
    foreground:     #e2e2e9;

    color0:     #0c0e13;
    color1:     #adc6ff;
    color2:     #bfc6dc;
    color3:     #debcdf;
    color4:     #2b4678;
    color5:     #3f4759;
    color6:     #583e5b;
    color7:     #c4c6d0;
    color8:     #8e9099;
    color9:     #adc6ff;
    color10:     #bfc6dc;
    color11:     #debcdf;
    color12:     #2b4678;
    color13:     #3f4759;
    color14:     #583e5b;
    color15:     #e2e2e9;

    background-color:   @background;
    border-color:       @color8;
    spacing:            2;
}
